<div class="modal-header">
    <button type="button" class="close" ng-click="cancel()">×</button>
    <h3 class="modal-title" id="modal-title">Order Details</h3>
</div>
<div class="modal-body" id="modal-body">
    <div class="panel-body" ng-repeat="item in orderItems" style=" border-radius:8px; background-color:white; margin-bottom:15px;">
        <div class="row" style="font-size:12pt">
            <div class="col-md-6">
                <div><b>Product: </b>{{item.Product.Name}}</div>
                <br />
                <div><b>Price: </b>{{item.Product.Price |  currency : "USD$"}}</div>
            </div>
            <div class="col-md-6">
                <b>Quantity:</b> {{item.Quantity}}
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-default" type="button" ng-click="cancel()">Cancel</button>
</div>