<div class="container gridView row">
    <span class="action-panel col-md-12">
        <button class="btn btn-primary pull-right" ng-click="summonCreateDialog()" style="margin-right:20px;">
            <i class="glyphicon glyphicon-plus"></i> Create
        </button>
    </span>

    <div class="col-md-12">
        <br />
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Status</th>
                    <th>Is Default</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="category in categories">
                    <td class="col-md-6"><label class="label label-default" title="Products count" style="margin-right:5px;">{{category.Count}}</label>{{category.Name}}</td>
                    <td class="col-md-2">
                        <div class="label" style="width:65px !important;" ng-class="{ 'label-delivered': category.Status, 'label-canceled': !category.Status }">
                            {{ ::(category.Status ? "Active" : "Disabled") }}
                        </div>
                    </td>
                    <td class="col-md-2">
                        <div class="label" style="width:65px !important;" ng-class="{ 'label-delivered': category.IsDefault, 'label-canceled': !category.IsDefault }">
                            {{ ::(category.IsDefault ? "Yes" : "No") }}
                        </div>
                    </td>
                    <td>
                        <button ng-click="summonEditDialog(category.Id)" class="btn btn-sm btn-default"><i class="glyphicon glyphicon-pencil"></i> Edit</button>
                    </td>
                    <td>
                        <button ng-click="summonDeleteDialog(category.Id)" class="btn btn-sm btn-danger"><i class="glyphicon glyphicon-trash"></i> Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>